body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(110, 255, 255);
}

#calculator, 
#display,
button{
    border: 2px solid rgb(110, 255, 255);
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 0%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: 10px 19px 0 19px;
    width: 358px;
    height: 25px;
    overflow: hidden;
    color: rgb(110, 255, 255);
    padding: 50px;
}

#keys{
    display: flex;
    padding:10px;
}

#operators{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.operator-btn{ 
    width: 70px;
    height: 70px;
    padding: 0;
    margin: 0 5px 5px 5px;
}

.operator-btn, .clear-display{
    background-color: rgb(110, 255, 255);
    color: hsl(0, 0%, 0%); 
}

.operator-btn:hover{
    background-color:rgb(0, 0, 0);
    color: rgb(110, 255, 255);
}

.operator-btn:active{
    background-color:rgb(0, 250, 250);
    color: hsl(0, 0%, 0%);
}

#digits{
    width: 50vh;
    padding: 20px;
    margin-bottom: 0;
}

.digit{
    margin: 0 5px 5px 5px;
}

.zero{
    width: 195px;
    padding: 0;
}

button{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    background-color: hsl(0, 0%, 0%);
    color: rgb(110, 255, 255);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
}

.digit:hover{
    background-color: rgb(110, 255, 255);
    color: hsl(0, 0%, 0%);
}

.digit:active{
    background-color:hsl(0, 0%, 0%);
    color: rgb(110, 255, 255);
}

.clear-display:hover{
    background-color:rgb(0, 0, 0);
    color: rgb(110, 255, 255);
}

.clear-display:active{
    background-color:rgb(0, 250, 250);
    color: hsl(0, 0%, 0%);
}

footer{
    margin-top: 15px;
    font-family:cursive;
    font-weight: 600;
}

a{
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.fa-github{
    font-size: 100px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover{
    transform: rotate(360deg) scale(1.2);
}